<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:batch="http://www.springframework.org/schema/batch"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd">

    <bean id="recordReader" class="com.sap.i076326.RecordReader"></bean>
    <bean id="recordWriter" class="com.sap.i076326.RecordWriter"></bean>

    <batch:job id="job">
        <batch:step id="step1">
            <batch:tasklet>
                <batch:chunk reader="recordReader" writer="recordWriter" commit-interval="1">
                </batch:chunk>
            </batch:tasklet>
        </batch:step>
    </batch:job>

</beans>